<template>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div
            class="bg-gray-900 text-white cursor-pointer px-3 py-2 rounded-md font-medium"
          >
            <span> Projects </span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Toolbar",
  mounted() {},
};
</script>

<style scoped lang="scss">
</style>
